<img src = "https://ibm.box.com/shared/static/hhxv35atrvcom7qc1ngn632mkkg5d6l3.png", width = 200>

<h1, align=center> Toronto - Big Data University Meetup</h1>

<h1, align=center> Data Processing in Python (Hands On)</h1>

<h3, align=center> May 24, 2016</h3>
<h4, align=center><a href = "https://ca.linkedin.com/in/xufei1">Xu Fei</a></h4>

<img src= "https://ibm.box.com/shared/static/e8r3r60s4n88vwrabejovoxdpwqww91r.png", width = 150>

<h2, align=center>Hands-on: </h2>
<h2,align=center><a href=www.datascientistworkbench.com>www.datascientistworkbench.com</a></h2>

<h2, align=center>Wifi: RU-Secure</h2>
<h2, align=center>Username: dmzguest</h2>
<h2, align=center>Password: 4D$4B)aq</h2>

<h4, align=center>Thank you to our sponsors, UofT Contiuuing Studies and the following:</h4>
<a href = "https://www.bigdatauniversity.com"><img src ="https://ibm.box.com/shared/static/tsj6nq1ufct5exe7cr2a3lx79wxnpeuj.png", width=400>

###Agenda
- 6:30pm - 6:45pm - Event Introduction
- 6:45pm - 8:30pm - Data Processing in Python
- 8:30pm - Networking

<br>
<hr>

<h1, align=center>Getting Started with Data Scientist Workbench</h1>

#### To run a cell, press  
- *Ctrl+Enter* or  
- *Shift+Enter*

In [ ]:
import sys
reload(sys)
sys.setdefaultencoding("utf-8")

# UN Sustainable Development Goals
https://sustainabledevelopment.un.org/?menu=1300

#### 4.1 By 2030, ensure that all girls and boys complete free, equitable and quality primary and secondary education leading to relevant and effective learning outcomes 

## However...

### As of 2013, 124 million children and young adolescents were still out of school. 

#### See more at: http://www.uis.unesco.org/Education/Pages/out-of-school-children.aspx#sthash.zY3xhvWf.dpuf

### UNESCO Global Report on out-of-school children
http://www.uis.unesco.org/Education/Documents/oosci-global-report-en.pdf

#### First, let's take a look at how many 6-12 year old children on this planet are out of school

## Data Source: UNESCO Institute for Statistics
http://data.uis.unesco.org/#

#### Import the Pandas library in Python

In [ ]:
import pandas as pd

#### Download data files

In [ ]:
!wget --no-check-certificate --output-document countries_metadata.csv https://ibm.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv

In [ ]:
!wget --no-check-certificate --output-document outofschoolchildren.csv https://ibm.box.com/shared/static/5mfp2f2vphz1ydjz8dezpowgt3z0hrk5.csv

#### Use Shell commands to check files

In [ ]:
!ls

In [ ]:
df_outofschool = pd.read_csv(
    'outofschoolchildren.csv',
    skiprows = 2
)

In [ ]:
df_outofschool.shape

In [ ]:
df_outofschool.head()

In [ ]:
df_outofschool.columns

### Some Initial Cleaning... without touching Excel!
#### 1. change column names
#### 2. move cells up
#### 3. drop the 3rd column
#### 4. remove rows
#### 5. fill coutry names

#### 1. change column names
##### change unnamed:1 to year

In [ ]:
df_outofschool.head()

In [ ]:
df_outofschool.rename(columns={'Unnamed: 1':'year'})

#### This doesn't really change the column names

In [ ]:
df_outofschool.head()

In [ ]:
df_outofschool.rename(columns={'Unnamed: 1':'year'}, inplace= True)

In [ ]:
df_outofschool.head() #double-check

### your turn
change column name Indicator to country

In [ ]:
# your code here

#### change all names at once

In [ ]:
df_outofschool.columns = ['country', 'year', 'empty', 'all_children', 'female', 'male', 'percentage_female']

#### 2. shift cells up

In [ ]:
#shift up all columns, not just one or two columns!
df_outofschool = df_outofschool.shift(-1);
df_outofschool.head()

#### 3. drop the 3rd column "empty"

In [ ]:
df_outofschool.drop('empty', axis=1, inplace= True)

In [ ]:
df_outofschool.head()

#### 4. remove rows

In [ ]:
df_outofschool.tail(10)

In [ ]:
#removing bottom rows
df_outofschool.drop(df_outofschool.index[3893:3900], inplace= True)

# Caution: you need to know what you removed!

In [ ]:
#alternative methods
#df_outofschool.drop(df_outofschool.tail(7).index)
#df_outofschool.drop(list(range(3894,3900)))

In [ ]:
df_outofschool.tail()

#### 5. fill coutry names

In [ ]:
df_outofschool['country'] = df_outofschool['country'].ffill()

In [ ]:
df_outofschool

### Some more cleaning...
#### 6. replace .. with missing values
#### 7. split the country column into code and country name
#### 8. add regions to each country by merging the metadata file
#### 9. remove countries and years that have absolutely no data
#### 10. convert column types

In [ ]:
import numpy as np

#### 6. replace .. with missing values

In [ ]:
#fill the '..' cells with NaN
df_outofschool.replace('..', np.nan, inplace= True)

In [ ]:
df_outofschool.head()

#### 7. split the country column into code and country name

In [ ]:
#first look at the string values
df_outofschool.loc[0, 'country']

In [ ]:
df_outofschool.loc[0, 'country'].split(': ')

#### get the country code

In [ ]:
df_outofschool.loc[0, 'country'].split(': ')[0]

In [ ]:
get_country_code = lambda string: string.split(': ')[0]

In [ ]:
#to look at what it does
df_outofschool['country'].apply(get_country_code)

In [ ]:
df_outofschool['country_code'] =  df_outofschool['country'].apply(get_country_code)

In [ ]:
df_outofschool.head()

### your turn
### convert values in the country column to values only with country names

In [ ]:
# your code here

In [ ]:
get_country_name = lambda string: string.split(': ')[1]

In [ ]:
df_outofschool['country'].apply(get_country_name)

In [ ]:
df_outofschool['country'] = df_outofschool['country'].apply(get_country_name)

In [ ]:
df_outofschool.head()

#### 8. add regions to each country by merging the metadata file

In [ ]:
df_metadata = pd.read_csv("./countries_metadata.csv", encoding = "utf-8")

In [ ]:
df_metadata.head()

#### prepare to merge

In [ ]:
df_metadata.rename(columns={'Country Code' : 'country_code'}, inplace=True)

In [ ]:
len(df_outofschool.country_code.unique())

In [ ]:
len(df_metadata['country_code'])

<img src = 'http://i.stack.imgur.com/sKS1u.jpg', width = 800>

In [ ]:
pd.merge(df_outofschool, df_metadata, on= 'country_code', how='left')

In [ ]:
df_merged = pd.merge(df_outofschool, df_metadata, on= 'country_code', how='left')

In [ ]:
df_merged.head()

In [ ]:
#but how to access columns with "" in their names?
#iloc

In [ ]:
len(df_merged.iloc[:,-5].unique())

In [ ]:
df_merged.drop(['Unnamed: 5'], axis = 1)

In [ ]:
df_merged.drop(['Unnamed: 5'], axis = 1, inplace= True)

#### 9. remove countries and years that have absolutely no data

In [ ]:
#remove rows with no data
df_merged.dropna(axis = 0, how = 'all', subset= df_merged.columns[2:6])

In [ ]:
#look at the # of records
len(df_merged)

In [ ]:
# all the records with the 4 columns all missing
len(df_merged[
    (df_merged['all_children'].isnull()) &\
    (df_merged['female'].isnull()) &\
    (df_merged['male'].isnull()) &\
    (df_merged['percentage_female'].isnull())
         ])

In [ ]:
df_merged.dropna(axis = 0, how = 'all', subset= df_merged.columns[2:6], inplace= True)

In [ ]:
#look again
len(df_merged)

In [ ]:
by_country = df_merged.groupby('country')

In [ ]:
type(by_country)

In [ ]:
by_country.count()

In [ ]:
by_country.count().iloc[:,1:5]

In [ ]:
df_merged.columns[2:6]

In [ ]:
by_year = df_merged.groupby('year')

#### 10. convert column types

In [ ]:
df_merged.dtypes

In [ ]:
df_merged.columns[2:6]

In [ ]:
df_merged[df_merged.columns[2:6]].astype(float)

In [ ]:
df_merged[df_merged.columns[2:6]] = df_merged[df_merged.columns[2:6]].astype(float)

In [ ]:
df_merged[df_merged.columns[1]] = df_merged[df_merged.columns[1]].astype(int)

In [ ]:
df_merged['percentage_male'] = 100- df_merged['percentage_female']

In [ ]:
df_merged.info()

In [ ]:
by_region = df_merged.groupby('Region')

In [ ]:
by_region['all_children'].sum()

In [ ]:
by_region['all_children'].mean()

In [ ]:
by_region['all_children'].max()

### which country has the highest number in the Middle East?

In [ ]:
df_merged[df_merged['all_children'] == 1338154]

In [ ]:
df_merged.groupby(['Region', 'year'])['all_children'].mean()

In [ ]:
df_merged.groupby(['Region', 'year'])['all_children'].mean().unstack()

### Pivot Table is much easier to write

In [ ]:
df_merged.pivot_table('all_children',
                     index = 'year', columns = 'Region', aggfunc= 'mean')

In [ ]:
pivot_year_region = df_merged.pivot_table('all_children',
                     index = 'year', columns = 'Region', aggfunc= 'mean')

In [ ]:
type(pivot_year_region)

### rounding off decimal places

In [ ]:
np.round(pivot_year_region, 0)

In [ ]:
pivot_year_region_rounded = np.round(pivot_year_region, 0)

## your turn
#### build a pivot table with year as rows and income group as columns, showing Out-of-school children of primary school age, percentage female (%) round if off to no decimal place

In [ ]:
#### your Code here

In [ ]:
pivot_female_percent_year_income = df_merged.pivot_table('percentage_female',
                     index = 'year', columns = 'IncomeGroup', aggfunc= 'mean')
pivot_female_percent_year_income.plot()

In [ ]:
average_children_by_region = by_region['all_children'].mean()

In [ ]:
average_children_by_region

In [ ]:
type(average_children_by_region)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
average_children_by_region.plot(kind = 'bar')

In [ ]:
from matplotlib import style

In [ ]:
style.use('ggplot')

In [ ]:
average_children_by_region.plot(kind = 'bar')

In [ ]:
average_children_by_region.plot(kind = 'bar')
plt.title('Average # of Out-of-school Children of Primary School Age')
plt.ylabel('# of Children')
plt.xlabel('World Bank Regions')

In [ ]:
average_children_by_region.sort(ascending = False)

In [ ]:
average_children_by_region.plot(kind = 'bar', color = 'black')
plt.title('Average # of Out-of-school Children at Primary School Age')
plt.ylabel('# of Children')
plt.xlabel('World Bank Regions')
plt.xticks(rotation= 30)

In [ ]:
average_children_by_region.plot(kind = 'bar', color = 'black', figsize=(15, 5))
plt.title('Average # of Out-of-school Children at Primary School Age')
plt.ylabel('# of Children')
plt.xlabel('World Bank Regions')
plt.xticks(rotation= 30)

### your turn
#### bar graph of total number of out-of-school children by year

In [ ]:
# your code here

In [ ]:
df_merged.columns

In [ ]:
total_children_by_year = by_year['all_children'].sum()

In [ ]:
total_children_by_year.plot(kind = 'bar', color = 'black', figsize=(15, 5))
plt.title('Average # of Out-of-school Children at Primary School Age')
plt.ylabel('# of Children')
plt.xlabel('year')
plt.xticks(rotation= 30)

In [ ]:
#### To save the plot

In [ ]:
total_children_by_year.plot(kind = 'bar', color = 'black', figsize=(15, 5))
plt.title('Average # of Out-of-school Children at Primary School Age')
plt.ylabel('# of Children')
plt.xlabel('year')
plt.xticks(rotation= 30)
plt.savefig('total_children_by_year.pdf')

In [ ]:
total_children_by_year.plot(kind = 'barh', color = 'black')

In [ ]:
df_merged['percentage_female'].hist()

In [ ]:
df_merged['all_children'].hist()

In [ ]:
pivot_female_percent_year_income

In [ ]:
pivot_female_percent_year_income.plot(kind = 'box', figsize=(15, 10))

In [ ]:
pivot_year_region

In [ ]:
pivot_year_region.plot(figsize=(15, 10))

In [ ]:
pivot_female_percent_year_income.plot(figsize=(15, 10))

In [ ]:
total_female = df_merged[['all_children', 'percentage_female']]
total_female.plot(kind ='scatter', x = 'all_children', y = 'percentage_female', figsize=(15, 10))

<hr>

### Resources
- [Python Pandas Documentation](http://pandas.pydata.org/)
- [IPython Interactive Widgets](http://nbviewer.ipython.org/github/quantopian/ipython/blob/master/examples/Interactive%20Widgets/Index.ipynb)
- [Spark Fundamentals I](http://bigdatauniversity.com/bdu-wp/bdu-course/spark-fundamentals/)
- [Spark Fundamentals II](http://bigdatauniversity.com/bdu-wp/bdu-course/spark-fundamentals-ii/)

###Other Datasets
- [World Bank Data](http://data.worldbank.org/)
- [United Nations Data](http://data.un.org/)
- [Toronto Open Data](http://www1.toronto.ca/wps/portal/contentonly?vgnextoid=1a66e03bb8d1e310VgnVCM10000071d60f89RCRD)
- [Reddit /r/datasets](reddit.com/r/datasets)
- [100+ Interesting Datasets](http://rs.io/100-interesting-data-sets-for-statistics/)