In [1]:
import sys
sys.version

'2.7.11 (default, Jan 22 2016, 08:28:37) \n[GCC 4.2.1 Compatible Apple LLVM 7.0.2 (clang-700.1.81)]'

In [2]:
import pandas as pd

In [ ]:
pd.__version__

In [3]:
!ls

20160524-python-data-processing.ipynb             outofschoolchildren.csv
Processing_UN_Climate_Open_Data_With_Python.ipynb pclassadult_sex.pdf
README.md                                         pclassage_sex.pdf
Untitled.ipynb                                    pivot_table_data_viz.ipynb
countries_metadata.csv                            total_children_by_year.pdf
data                                              workshop1_pandas_titanic.md
figure1.pdf                                       workshop2_pivot_table_and_data_viz.ipynb

<h2, align=center>Getting and Importing Data</h2>

### What do you want to know from the data?

#### CO2 Data can be downloaded from The World Bank website
#### http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/
#### Population Data
#### http://data.worldbank.org/indicator/SP.POP.TOTL

Visual check before importing the data

In [5]:
df_co2 = pd.read_csv(
    "data/co2_aac3f2a3-99c7-4ea6-a6ef-32ead3d3dbfe_v2/aac3f2a3-99c7-4ea6-a6ef-32ead3d3dbfe_v2.csv",
    skiprows = 4,
    encoding = "utf-8"
)

#### Tidy Data
#### Data Quality Checklist

## Dataframe and Subsetting
#### Dataframe attributes

In [6]:
type(df_co2)

pandas.core.frame.DataFrame

In [7]:
df_co2.shape

(248, 61)

In [ ]:
df_co2.dtypes

In [ ]:
df_co2.info()

In [ ]:
df_co2

In [ ]:
df_co2.head()

In [ ]:
df_co2.head?

#### Exercise: show the first 3 rows of this dataframe

In [ ]:
dir(df_co2)

In [ ]:
help(df_co2.shift)

In [ ]:
df_co2.columns

In [ ]:
df_co2.columns[0]

In [ ]:
#Indexing in Python
list1 = [1,2,3,4,5]
first_element = list1[0]
second_element = list1[1]
last_element = list1[-1]
print(first_element)
print(second_element)
print(last_element)

## Subsetting

In [ ]:
#select columns
#by name
df_co2['Country Name'].head()

In [ ]:
df_co2[['Country Name', 'Country Code']].head()

### Exercise: show the first 2 rows of the column named 1960

In [ ]:
#select rows
df_co2[0:2]

#### pay attention to 0:2

In [ ]:
#select row and columns
df_co2['Country Name'][0:2]

#### better ways to subset

In [ ]:
#loc uses row column strings 
df_co2.loc[0:2]

In [ ]:
df_co2.loc[0:2,'Country Name']

In [ ]:
#iloc uses only index position
df_co2.iloc[0:2, 0]

In [ ]:
#ix uses a mix of row index and column labels
df_co2.ix[0:2, 'Country Name']

### exercise: select the last 5 rows of the last 2 columns

In [ ]:
df_co2.iloc[-5:,-2:]

In [ ]:
df_co2.columns

### Boolean Indexing

In [ ]:
20 > 10

In [ ]:
'a' == 'b'

In [ ]:
20 > 10 and 'a' == 'b'

In [ ]:
20 > 10 or 'a' == 'b'

In [ ]:
#selecting rows following a criterium
df_co2['Country Name'] == 'Canada'

In [ ]:
df_co2[df_co2['Country Name'] == 'Canada']

In [ ]:
df_co2[(df_co2['1960'] > 10) & 
       (df_co2['1960'] < 12)]

In [ ]:
df_co2[(df_co2['1960'] > 15) | 
       (df_co2['1960'] < 0.1)]

### how do you select the rows from Canada and Brazil?

In [ ]:
df_co2[(df_co2['Country Name'] == 'Canada') | 
       (df_co2['Country Name'] == 'Brazil')]

In [ ]:
#check number of countries
df_co2.info()

In [ ]:
df_co2['Country Name'].unique()

### Remove empty columns

In [ ]:
df_co2.columns[-5:]

In [ ]:
df_co2.columns

In [ ]:
df_co2.shape

In [ ]:
df_co2.drop(df_co2.columns[-5:], axis = 1)

In [ ]:
df_co2.drop(df_co2.columns[-5:], axis = 1).shape

In [ ]:
df_co2 = df_co2.drop(df_co2.columns[-5:], axis = 1)

### ex: remove column "Indicator Code"

In [ ]:
df_co2 = df_co2.drop('Indicator Code', axis = 1)

### Check dataframe again

In [ ]:
df_co2.head()

## Remove rows without any data

In [ ]:
df_co2.mean(axis = 1)

### Missing values

In [ ]:
import numpy as np

In [ ]:
np.nan

In [ ]:
type(np.nan)

In [ ]:
np.nan == np.nan

In [ ]:
np.isnan(np.nan)

In [ ]:
df_co2.mean(axis = 1).isnull()

In [ ]:
df_co2[df_co2.mean(axis = 1).isnull()]

In [ ]:
df_co2[df_co2.mean(axis = 1).isnull()].shape

In [ ]:
removed_rows_nan = df_co2[df_co2.mean(axis = 1).isnull()]

In [ ]:
df_co2[df_co2.mean(axis = 1).notnull()]

In [ ]:
df_co2[df_co2.mean(axis = 1).notnull()].shape

In [ ]:
df_co2 = df_co2[df_co2.mean(axis = 1).notnull()]

## Removing rows with invalid country names

In [ ]:
df_co2['Country Name'].unique()

## Before merging with metadata

In [8]:
metadata = pd.read_csv(
    "data/co2_aac3f2a3-99c7-4ea6-a6ef-32ead3d3dbfe_v2/Metadata_Country_aac3f2a3-99c7-4ea6-a6ef-32ead3d3dbfe_v2.csv",
    encoding = "utf-8"
)

In [ ]:
metadata.info()

In [ ]:
metadata.head()

In [ ]:
metadata['"Country Name"']

In [ ]:
metadata.iloc[:,0].unique()

In [ ]:
### Change the column name

In [ ]:
metadata.columns = ['Country Name', 'Country Code', 'Region','IncomeGroup', 'SpecialNotes', 'Unnamed: 5']

In [ ]:
metadata[metadata['Country Name'] == 'East Asia & Pacific (all income levels)']

In [ ]:
metadata[metadata['Region'].isnull()][:3]

In [ ]:
removed_country_code = metadata[metadata['Region'].isnull()].loc[:,'Country Code']

In [ ]:
removed_country_code.shape

In [ ]:
df_co2.shape

In [ ]:
removed_rows_countries = df_co2[df_co2['Country Code'].isin(removed_country_code)]

In [ ]:
removed_rows_countries.shape

In [ ]:
df_co2[~df_co2['Country Code'].isin(removed_country_code)]

In [ ]:
df_co2 = df_co2[~df_co2['Country Code'].isin(removed_country_code)]

In [ ]:
df_co2.shape

### Recap

In [ ]:
df_co2.head()

### putting all the years in rows

In [ ]:
pd.melt(df_co2,id_vars=['Country Name', 'Country Code', 'Indicator Name'])

In [ ]:
df_co2 = pd.melt(df_co2,id_vars=['Country Name', 'Country Code', 'Indicator Name'])

In [ ]:
df_co2.columns

In [ ]:
df_co2.rename(columns={'variable': 'year'})

In [ ]:
df_co2.rename(columns={'variable': 'year'}, inplace=True)

### ex: change column name 'value' to 'co2_emissions'

In [ ]:
df_co2.rename(columns={'value': 'co2_emissions'}, inplace=True)

In [ ]:
df_co2.info()

In [ ]:
#create a unit column
df_co2['co2_emissions_unit'] = 'metric tons per capita'

In [ ]:
df_co2 = df_co2.drop('Indicator Name', axis = 1)

In [ ]:
df_co2['year'].astype(int)

In [ ]:
df_co2['year'] = df_co2['year'].astype(int)

In [ ]:
df_co2.head()

In [ ]:
df_co2.info()

In [ ]:
metadata.head()

In [ ]:
metadata.drop(['Unnamed: 5', 'Country Name'], axis= 1)

In [ ]:
metadata = metadata.drop(['Unnamed: 5', 'Country Name'], axis= 1)

## Merge co2 data with metadata

<img src = 'http://www.codeproject.com/KB/database/Visual_SQL_Joins/Visual_SQL_JOINS_orig.jpg', width = 800>

In [ ]:
pd.merge(df_co2, metadata, on ='Country Code', how = 'left')

In [ ]:
df_merged_co2_meta = pd.merge(df_co2, metadata, on ='Country Code', how = 'left')

In [ ]:
df_merged_co2_meta.shape

In [ ]:
df_merged_co2_meta.info()

### Adding population data
1. Remove columns
1. Remove rows
1. Reshape dataframe
1. Merge it with the merged df

In [9]:
df_population = pd.read_csv(
    "data/population_4e08cff3-c5b0-4d87-ab6e-77215af1f57c_v2/4e08cff3-c5b0-4d87-ab6e-77215af1f57c_v2.csv",
    skiprows=4,
    encoding='utf-8'
)

In [ ]:
df_population.head()

In [10]:
df_population.shape

(248, 61)

In [ ]:
df_population.info()

In [ ]:
df_population = df_population.drop(
    ['Indicator Code', '2015', 'Unnamed: 60'],
    axis =1
)

In [ ]:
df_population[df_population['Country Code'].isin(removed_country_code)]

In [ ]:
df_population = df_population[~df_population['Country Code'].isin(removed_country_code)]

In [ ]:
df_population[df_population.mean(axis = 1).isnull()]

In [ ]:
df_population = df_population[df_population.mean(axis = 1).notnull()]

In [ ]:
df_population.shape

In [ ]:
pd.melt(df_population,
        id_vars=['Country Name', 'Country Code', 'Indicator Name'],
        var_name='year',
        value_name= 'Total Population'
       )

In [ ]:
df_population = pd.melt(df_population,
                        id_vars=[
                            'Country Name', 'Country Code', 'Indicator Name'],
                        var_name='year',
                        value_name='Total Population'
                        )

In [ ]:
df_population['year'] = df_population['year'].astype(int)

In [ ]:
df_population.drop(['Country Name', 'Indicator Name'], axis = 1)

In [ ]:
df_population = df_population.drop(['Country Name', 'Indicator Name'],
                                   axis = 1)

In [ ]:
df_population.info()

In [ ]:
pd.merge(df_merged_co2_meta,df_population,
         on = ['Country Code', 'year'],
         how = 'left'
        )

In [ ]:
df_merged_co2_meta_pop = pd.merge(
    df_merged_co2_meta,df_population,
    on = ['Country Code', 'year'],
    how = 'left'
)

In [ ]:
df_merged_co2_meta_pop.shape

## Adding Natural Disaster Data From the International Disaster Database
http://www.emdat.be/advanced_search/index.html-statistics

In [ ]:
!head -5 Natural_Disaster_Data.csv

In [ ]:
df_disaster = pd.read_csv(
    'Natural_Disaster_Data.csv',
    encoding = 'utf-8'
)

In [ ]:
df_disaster.shape

In [ ]:
df_disaster.head()

In [ ]:
df_disaster.index

In [ ]:
df_disaster.reset_index()

In [ ]:
df_disaster.reset_index(inplace=True)

In [ ]:
df_disaster.head()

In [ ]:
df_disaster.rename(
    columns={
        'index': 'year',
        'year' : 'disaster_type',
        'Country iso, Country name': 'country_name',
        'disaster_type': 'Country Code'
    },
    inplace = True
)

In [ ]:
df_disaster.info()

### The pre-merge check
1. Missing Values
1. Column Names

In [ ]:
df_disaster[df_disaster.mean(axis = 1).isnull()]

In [ ]:
df_disaster.drop('country_name', axis = 1)

In [ ]:
df_disaster.drop('country_name', axis = 1, inplace = True)

In [ ]:
df_disaster.shape

In [ ]:
## add 2 columns

In [ ]:
df_disaster['total_death_and_affected'] = df_disaster['Total affected'] + df_disaster['Total deaths']

In [ ]:
df_disaster['Total damage_unit'] = 'k USD'

In [ ]:
## Merge again

In [ ]:
pd.merge(
    df_merged_co2_meta_pop,
    df_disaster,
    on = ['Country Code', 'year'],
    how = 'left'
)

In [ ]:
df_merged_co2_meta_pop_dis = pd.merge(
    df_merged_co2_meta_pop,
    df_disaster,
    on = ['Country Code', 'year'],
    how = 'left'
)

In [ ]:
df_merged_co2_meta_pop_dis.shape

In [ ]:
climate = df_merged_co2_meta_pop_dis

In [ ]:
climate.head(2)

## Add a few columns

In [ ]:
climate['total_co2'] = climate['co2_emissions'] * climate['Total Population']

In [ ]:
climate['total_co2_unit'] = 'metric_tons'

In [ ]:
climate.tail()

In [ ]:
climate.to_csv(
    'climate_data.csv',
    index = False,
    encoding = 'utf-8'
)

## Exploratory Analysis

In [ ]:
climate.head()

In [ ]:
col_names = climate.columns;
col_names

In [ ]:
climate['disaster_type'].value_counts()

In [ ]:
climate['Region'].value_counts()

## Aggregating Results Using Groupby

In [ ]:
#Groupby and split-apply-combine
by_year = climate.groupby('year')

In [ ]:
# It looks like a dataframe
by_year.head()

In [ ]:
# but actually head() only shows the first n rows of each group
by_year.head().shape

In [ ]:
# it has a different object type
by_year

In [ ]:
by_year.describe()

In [ ]:
by_year.describe(include =['object'])

In [ ]:
by_year.describe().iloc[:,[1,2,3,4,-2,-1]]

In [ ]:
# you can get a group of name
by_year.get_group(1980)

In [ ]:
# selecting a column in the groupby object
by_year['occurrence']

In [ ]:
# you need to add a function to return a table
by_year['occurrence'].sum()

### sorting results

In [ ]:
# which year has the highest # of disasters?
by_year['occurrence'].sum().order(ascending = False)

### In 2011, which country has the highest total co2 emissions?

In [ ]:
df_2011 = by_year.get_group(2011)

In [ ]:
df_2011[['Country Name', 'total_co2']].sort_index(by = 'total_co2',
                                                  ascending = False)

### In the same year which country was the most economically affected by natural disasters?

In [ ]:
#this seems to give you the results, but not really
df_2011[['Country Name',
         'Total damage',
         'disaster_type']].sort_index(by = 'Total damage',ascending = False)

In [ ]:
by_country_2011 = df_2011.groupby('Country Name');
by_country_2011['Total damage'].sum().order(ascending = False)

## Group by 2 variables

In [ ]:
col_names

In [ ]:
#The total damage from all natural disasters for each country per year
by_year_country = climate.groupby(['year', 'Country Name']);
by_year_country['Total damage'].sum().order(ascending = False)

### rank of total co2 emissions from high to low for each region-year combination

In [ ]:
by_year_region = climate.groupby(['year', 'Region'])

In [ ]:
by_year_region['total_co2'].sum().order(ascending = False)

## What if I want to see the same thing in a table with year as rows and region as columns?

In [ ]:
by_year_region['total_co2'].sum().unstack()

### Pivot Table

In [ ]:
climate.pivot_table(values='total_co2',
                    index = 'year',
                    columns = 'Region',
                    aggfunc = 'sum')

In [ ]:
# turn on the margins to compare total values
climate.pivot_table(values='total_co2',
                    index = 'year',
                    columns = 'Region',
                    aggfunc = 'sum',
                    margins = True)

In [ ]:
#add gradual examples of pivot table

In [ ]:
# two levels of aggregation
climate.pivot_table(index = 'year',
                    columns = 'Region',
                    aggfunc = {'total_co2':'mean',
                               'Total damage':'sum'})

In [ ]:
pt_total_co2 = climate.pivot_table(values='total_co2',
                    index = 'year',
                    columns = 'Region',
                    aggfunc = 'sum',)

## Plotting graphs

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
by_year['total_co2'].sum().plot(kind = 'bar')

In [ ]:
from matplotlib import style
style.use('ggplot')

In [ ]:
by_year['total_co2'].sum().plot(kind = 'bar',
                                figsize=(10, 8))
plt.title('Global CO2 Emissions')
plt.ylabel('CO2 Emission (Metric Tons)')

In [ ]:
by_year['total_co2'].sum().plot(kind = 'barh',
                                figsize=(8, 10))
plt.title('Global CO2 Emissions')
plt.xlabel('CO2 Emission (Metric Tons)')

In [ ]:
#set default figure size
plt.rcParams['figure.figsize'] = (10.0, 8.0)

### ex: plot the 20 countries with the highest CO2 emissions from 1960-2011

In [ ]:
#global total damage over time
by_country = climate.groupby('Country Name');
by_country['total_co2'].sum().order()[-20:].plot(kind = 'barh')
plt.title('Total CO2 Emissions (1960-2011)')
plt.xlabel('CO2 Emission (Metric Tons)')

### Per Capita

In [ ]:
by_country['co2_emissions'].sum().order()[-20:].plot(kind = 'barh')
plt.title('CO2 Emissions Per Capita (1960-2011)')
plt.xlabel('CO2 Emission (Metric Tons)')

In [ ]:
climate.pivot_table('occurrence',
                   index = 'year',
                   columns = 'disaster_type',
                   aggfunc='sum').plot()

In [ ]:
pt_total_co2.plot()

In [ ]:
pt_total_co2.plot?

In [ ]:
pt_total_co2.plot(figsize=(10, 8))
plt.title('Total CO2 Emissions By Region')
plt.ylabel('CO2 Emission (Metric Tons)')
plt.savefig('total_co2_by_region.pdf')

### Ex: Plot CO2 Emissions Per Capita

In [ ]:
pt_co2_per_cap = climate.pivot_table(values='co2_emissions',
                                    index = 'year',
                                    columns = 'Region',
                                    aggfunc = 'sum',
                                    )

In [ ]:
pt_co2_per_cap.plot()

In [ ]:
pt_total_co2.plot(kind = 'box',
                  figsize=(15, 8))
plt.title('Total CO2 Emissions By Region (1960-2011)')
plt.ylabel('CO2 Emission (Metric Tons)')
plt.xticks(rotation= 30)

### Ex: Boxplot Total Damage by Income Group

In [ ]:
pt_deaths_affected_by_income = climate.pivot_table(values='total_death_and_affected',
                                    index = 'year',
                                    columns = 'IncomeGroup',
                                    aggfunc = 'sum',
                                    )

In [ ]:
pt_deaths_affected_by_income.plot(kind = 'box')

In [ ]:
pt_deaths_affected_by_income.plot(kind = 'bar', stacked = True)

### Scatterplot

In [ ]:
by_year[['Total damage', 'total_co2']].sum().plot(kind ='scatter',
                                                  x = 'total_co2',
                                                  y = 'Total damage',
                                                  xlim = 0)

## Ex: the relationship between Total CO2 emissions and the occurrence of natural disasters

In [ ]:
# think of how you organize your data first
by_year[['total_co2','occurrence']].sum().plot(kind ='scatter', 
                                               x = 'total_co2',
                                               y = 'occurrence',
                                               xlim = 0)

In [ ]:
from pandas.tools.plotting import scatter_matrix

In [ ]:
var_by_year = by_year[['total_co2',
                        'occurrence',
                        'Total deaths',
                        'Total affected',
                        ]].sum();
scatter_matrix(var_by_year, alpha = 1.0, figsize=(10, 10))

In [ ]:
scatter_matrix?

### Histogram

In [ ]:
climate['Total Population'].plot(kind ='hist')

In [ ]:
# what's the distribution of the occurrence of natural disasters?
climate['occurrence'].plot(kind ='hist')

In [ ]:
# Other Python plotting libraries:
# Seaborn, ggplot for static plotting
# Bokeh for interactive plotting